
.video {
  position: absolute;
 top: 50%; left: 50%;
 z-index: -2;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

.vid_holder {
  width: 100vw;
  height: 100vh;
}
