// Import page-specific CSS files here.
#map{
  position: sticky;
  top: 90px;
  margin-bottom: 20px;
  z-index: -1;
}

.index-page {
  margin-top: 90px;
}

.index-title {
  margin-left: 20px;
  margin-bottom: 20px
}

a {
  text-decoration: none;
  &:hover { 
  text-decoration: none;
  }
}