.profile-page {
  margin-top: 90px;
}

a {
  text-decoration: none;
  color: black;
  &:hover { 
  text-decoration: none;
  color: rgb(37, 150, 190);
  }
}

.index-cards {
  flex-grow: 1;
  margin: 0 20px;  
}

.card-product {
  overflow: hidden;
  height: auto;
  width: auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  transition: all .2s ease-in-out; 
  z-index: 10;
  color: black;

  &:hover {
    background: rgba(232, 232, 232, 0.5);
    transform: scale(1.03);
    color: rgb(37, 150, 190);
  }
}

.card-product img {
  height: 100%;
  width: 360px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 32px;
}

.buttons {
  margin-top: 10px;
}

h5 {
  color:black;
}