.show-page {
  margin-top: 90px;
}

.img {
		display: inline-block;
		margin: 30px 5px 0 5px;

    &:hover {
    background: rgba(232, 232, 232, 0.5);
    transform: scale(1.03);
    color: rgb(37, 150, 190);
    }
  }

.info {
  flex: 0 0 50%;
}

.booking-info {
  flex: 0 0 50%;
  margin-left: auto;
  text-align: center;
}

.form-control {
  width: 75%;
  text-align: center;
  margin-left: 55px !important;
}

//  icons {
//   max-width: 100%;  
//   height: 50px;  
//  } 