<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6"> 
      <%= simple_form_for [gmy, booking ] do |f| %>
        <%= f.input :booking_start, as: :date %>
        <%= f.input :booking_end, as: :date %>
        <%= f.submit "Reserve", class: "btn-search btn-search-index" %>
      <% end %>
    </div>
  </div>
</div>
