<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6"> 
      <h1>Your reservation at Running away from your troubles is pending</h1> 
      <h3>The gym owner will confirm the reservation in the next 12 hours</h3>
    </div>
  </div>
</div>