<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6">
      <h1>My profile</h1>
      <%# <%= @user.bookings %>
      <%# Good evening <%= @user.first_name %>
      ---------------------------------------------
      <h3>Your upcoming gym sessions:</h3>
      <p>Running away from your troubles - <strong>Pending</strong></p>
      <p>Location: 208-210 Old Kent Rd, London</p>
      <p>Saturday 10.30am - 12.00pm</p>
    </div>
  </div>
</div>