<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-6">
      <h1>My profile</h1>
      <% current_user.bookings.each do |booking| %>
      <%= booking.gym.name %>
      <% end  %>
      <%= current_user.first_name %>
    </div>
  </div>
</div>