.cardbox {
  display: flex;
  margin-top: -400px;
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

