.searchbar {
  position: absolute;
  right: -250px;

  // top: 20%;
  // left: 40%;
  // margin: 50vh auto 0;
  padding-left: 8px;
  padding-top: 10px;
  width: 750px;
  height: 75px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
}

.searchbox {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.near_me {
  padding-left: 16px;
  width: 100%;
  position: absolute;
  margin-top: -8px;
}
.gym_type {
  padding-left: 16px;
  width: 100%;
  position: relative;
}
