.navbar-lewagon {
  justify-content: space-between;
  background: rgba(197, 197, 197, 0.39);
  // filter:alpha(opacity=50);
  // -moz-opacity:0.5;
  // -khtml-opacity: 0.0;
  // opacity: 0.3;
  // // [...]
  // // background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  border-radius: 15px;
  border: 2px solid rgb(0,0,0);
  box-shadow: 2px 2px 5px grey;
}

.nav-item {
  background: #23B8BF;
  border-radius: 20px;
  border: black;
}